.question-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  height: 232px;
  width: inherit;
  background-image: url("./assets/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
}

.question-title {
  max-width: 230px;
}

.question-container:last-child {
  border: none;
}

.star-img {
  width: 30px;
}

@media screen and (min-width: 765px) {
  .header-img {
    background-image: url("./assets/background-pattern-desktop.svg");
    height: 320px;
  }
  .question-title {
    max-width: 100%;
    font-size: 18px;
  }
  .star-img {
    width: 40px;
  }
}