.main-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.question-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  width: 100%;
  height: 235px;
  background-image: url("./assets/background-pattern-mobile.svg");
  position: absolute;
  z-index: 0;
}

.faq-container {
  position: inherit;
}

.question-title {
  max-width: 260px;
}

.question-container:last-child {
  border: none;
}